---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Contact with me'>
    <h1>Contacto</h1>
    <p>Si tienes alguna duda o sugerencia, no dudes en contactar conmigo a través de <a href="mailto:{{ site.email }}"></a>.</p>
</Layout>