---
import HeaderButton from "./HeaderButton.astro"
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <div class="mx-auto text-center mb-8 lg:mb:16">
        <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
            E-KIDS
        </h2>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
            E-KIDS is a platform that provides a variety of educational resources for kids. It is designed to help kids learn and grow in a fun and interactive way.
        </p>
    </div>

    <nav class="flex flex-row items-center justify-between w-full text-center md:flew-col">
        <HeaderButton class="text-white" href="/">Home</HeaderButton>
        <HeaderButton class="text-white" href="/products">Productos</HeaderButton>
        <HeaderButton class="text-white" href="/contact">Contacto</HeaderButton>
    </nav>
</header>