---
import SearchLogo from "../icons/SearchLogo.astro";
import ShoppingCartLogo from "../icons/ShoppingCartLogo.astro";
import UserLogo from "../icons/UserLogo.astro";
---

<section class="flex">
  <SearchLogo />
  <ShoppingCartLogo />
  <UserLogo />
</section>
