---
import CategoriesCard from "@components/CategoriesCard.astro";
const CATEGORIES = [
  {
    name: "Newborns",
    image: "public/newborn.png",
  },
  {
    name: "Toddlers",
    image: "public/toddlers.png",
  },
  {
    name: "Kids",
    image: "public/kid.png",
  },
  {
    name: "Teens",
    image: "public/teens.png",
  },
  {
    name: "Adults",
    image: "public/adults.png",
  },
  {
    name: "Seniors",
    image: "public/seniors.png",
  },
];
---

<section class="flex flex-col items-center mt-20">
  <h2 class="text-4xl font-bold">Categories</h2>

  <span class="mt-10 grid grid-cols-1 md:grid-cols-3 gap-5">
    {
      CATEGORIES.map((category) => (
        <CategoriesCard name={category.name} image={category.image} />
      ))
    }
  </span>
</section>
