---
import KidLogo from "../icons/KidLogo.astro";

import HeaderPages from "../components/HeaderPages.astro";
import HeaderIcons from "../components/HeaderIcons.astro";
---

<section class="flex justify-between border-b-4 pb-3">
  <span class="flex">
    <KidLogo class="mr-8" />
    <HeaderPages />
  </span>
  <HeaderIcons />
</section>
