---
import HeroSearchInput from "@components/HeroSearchInput.astro";
---

<section class="grid grid-cols-2 gap-8 mt-40">
  <span>
    <h1 class="text-4xl font-bold mb-5">
      Discover the cutest baby outfits for your little one
    </h1>
    <p class="text-md font-light">
      Explore baby clothes by style, brand, or discounts!
    </p>
    <HeroSearchInput />
  </span>
  <span>
    <img
      class="rounded-lg"
      src="src/images/cloth-pink.png"
      alt="Cute pink baby outfit"
    />
  </span>
</section>
