---
import HeroInfo from "@components/HeroInfo.astro";
---

<section class="grid grid-cols-2 gap-8 mt-40">
  <span class="flex flex-col justify-start">
    <HeroInfo />
  </span>
  <span>
    <img
      class="rounded-lg"
      src="/img/cloth-pink.png"
      alt="Cute pink baby outfit"
    />
  </span>
</section>
